.info-content{
    background-color:black;
}
.container{
    padding: 20px;
    padding-bottom: 30px;
    display: flex;
}
 
.data{
     display: flex;
}
.data-title p , .data-resp p , .whats-logo {
    margin: 15px ;
    font-size: 1.8em;
    font-weight: 600;
    color: #5aa7b3;
}
.data-resp p{
    color: #ffff;
}
.descripcion-personal{
    width: 50%;
    margin: 0 auto;
}
.descripcion-personal h3{
    margin-bottom: 15px ;
    text-align: center;
    color: #e796c9;
    font-size: 4.8em;
    text-decoration: underline;
}
.descripcion-personal p{
    font-size: 1.8em;
    color: #ebeea4;
}
.fa-angles-right{
    color: yellow;
}
.fa-angle-right{
    color: violet;
}
.whats-logo{
     width: 100%;
     display:flex ;
     justify-content: space-between;
    
}
.whats-logo img{
    width: 130px;
}
.fa-circle-chevron-up{
    margin-right: 1em;
    color: red;
    font-size: 2em;
}
.vertical,.horizontal{
    background-color: #583f8b;
    width: 6px;
    border: none;
    border-radius: 10px;
}
.horizontal{
    margin: 0 auto;
    width: 85%;
    height:6px;
}

/* **************Galeria************** */
 .gallery{
     background-color: #000;
     padding: 20px;
     position: relative;
 }
 .galeria-personal{
     padding: 30px 20px;
     
     display: grid;
     /* grid-template-columns: 520px 520px ; */
     grid-template-columns: repeat(auto-fill,minmax(200px,1fr )) ;
     grid-gap: 25px;
     justify-content: space-around;
 }
 .foto{
     cursor: pointer;
 }
  
 .foto img , .video video{
     padding: 5px;    
     box-shadow:  0 0 8px 4px rgb(154, 16, 147);
     border-radius: 10px;
     /* object-fit: cover; */
 }
 .video{
     width: 250px;
     height: 300px;
 }
 video{
     width: 100%;
     height: 100%;
 }
/* ****************Modal de la imagen************************** */
.modal-foto img{
     
    height: 100%;
    object-fit:contain;
}
.modal-foto{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(20, 20, 20, 0.938);
    position: fixed;
    top:0;
    left:0;
    display:none;
 }
 .modal-foto .img-interna{
     height: 100%;
     margin: 2px auto;
   
  }
.cerrar{
    margin: 20px; 
    width: 1.8em;
    height: 1.8em;
    font-size: 2.5em;
    font-weight: 600;
    color: #000;
    background:white ;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
 }