
 /* **********  768  *************** *******************************/
@media screen and (max-width:769px){    
    .descripcion p{
        margin: 2px 0;
        font-size: 1.2em;
    }
    .guia h2{
        font-size: 2.4em;
        letter-spacing: 2px;
    }
    nav ul li a {
        font-size: 2.2em;
        line-height: 1.4em;
    }
    .galeria {
    padding: 15px;
    grid-template-columns: repeat(auto-fill,minmax(15%, 1fr));
    grid-gap: 15px;
    }
    .name{
        font-size: 1.2em;
        line-height: 1.8em;
    }
    .derechos p {
        font-size: 1.2em;
    }
}

/* ***  *****  540  *****   ******* *******************************/
@media screen and ( max-width:541px){
    .descripcion p{
        margin: 0 0;
        font-size: 1.2em;
    }
    .descripcion p:nth-child(4),
    .descripcion p:nth-child(5){
        display: none;
    }
    .guia h2{
        font-size: 2em;
    }
    nav{
        border-bottom: 4px solid #a40ea3; 
    }
    nav ul li a {
        font-size: 2em;
    }
    .minicontent{
        border-top: 4px solid #fff ;
        border-bottom: 4px solid #fff ;
        background-color: #d51e92;
    }
    .thumbs{
       border-top: 3px  dashed#76c476;
       border-bottom: 3px dashed #76c476;
   }
   .mini{
        width: 50px;
        height: 50px;
        margin: 0 2px;
        padding: 2px 0 ;
   }
    .galeria {
    padding: 10px;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    }
 
    .derechos p {
        font-size: 1em;
    }
}
/* **********  425  *************** *******************************/
.descripcion p{
    margin: 0 0;
    font-size: 1em;
}
/* ***  *****  414  *****   ******* *******************************/
@media screen and (max-width:415px){
    .descripcion p{
        margin: 0 0;
    }
    .guia h2{
        font-size: 1.6em;
    }
    nav ul li {
        margin: 0 1em;
    }
    nav ul li a {
        font-size: 1.5em;
    }
    .mini{
        width: 40px;
        height: 40px;
        margin: 0 2px;
        padding: 2px 0 ;
    }
    .galeria {
        grid-template-columns: repeat(3,1fr);
    }
    .derechos p {
        font-size: .8em;
    }
}
/* ***  *****  388  *****   ******* *******************************/
@media screen and (max-width:388px) {
    .descripcion p {
        margin: 0 0;
        font-size: .9em;
    }
}
/* ***  *****  360  *****   ******* *******************************/
@media screen and (max-width:361px){
    .main{
        width: 100%;
    }
    .guia h2{
        font-size: 1.4  em;
    }
}
/* ***  *****  328  *****   ******* *******************************/
@media screen and (max-width:329px){
    .descripcion p {
        margin: 0 0;
    }
    .descripcion p:nth-child(6){
        display: none;
    }
    .guia h2{
        font-size: 1.2em;
        letter-spacing: 1px;
    }
    .galeria {
        grid-template-columns: repeat(3,1fr);
    }
}

/* ***  *****  284  *****   ******* */
@media screen and (max-width:285px){
    .descripcion p:nth-child(3){
        display: none;
    }
    .galeria {
        grid-template-columns: repeat(2,1fr);
    }
}
/* ***  *****  235  *****   ******* */
@media screen and (max-width:236px){
    nav ul li {
        margin: 0 .5em;
    }
    nav ul li a {
        font-size: 1.2em;
    }
   .thumbs .mini:nth-child(even){
       display: none;
   }
   .derechos p {
    font-size: .7em;
   }
}
